ul li {
    display: inline;
}

.container {
    display: flex;
    flex-wrap: nowrap;
   /* justify-content: center; */
    flex-direction: column;
    align-content: center;
}

.header_img {
    align-self: center;
}

.nav {
    align-self: flex-start;
    position: static;
}

.slider {

}
